:root {
    --accent-color: #404bbf;
    --common-text-color: #434455;
    --secondary-text-color: #F4F4FD;
    --hero-background-color: #2E2F42;
    --hero-text-color: #FFFFFF;
    --footer-background-color: #2E2F42;
    --common-background-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --logo-main-color: #4D5AE5;
    --logo-footercolor-b: #2e2f42;
    --filter-common-text-color: #4D5AE5;
    --filter-common-background: #F4F4FD;
    --filter-secondary-text-color: #FFFFFF;
    --nav-color: #2e2f42;
    --title-color: #2e2f42;
    --icon-common-color: #4D5AE5;
    --icon-accent-color: #31D0AA;

    --common-modal-text: #8E8F99;

    --common-time-func: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--common-text-color);
    background-color: var(--common-background-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-top: 120px;
    padding-bottom: 120px; */
}

.link {
    text-decoration: none;
    padding: 0;
}

.list {
    list-style: none;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--common-text-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

/** <============= MODAL ============> */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--common-time-func),
        visibility var(--common-time-func);
}

.is-hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}



.modal {
    max-width: 408px;
    width: calc(100vw - 36px);
    background-color: #FCFCFC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 18px;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform var(--common-time-func), scale var(--common-time-func);
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0)
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    position: absolute;
    right: 24px;
    top: 24px;

    transition: background-color var(--common-time-func), fill var(--common-time-func), border-color var(--common-time-func);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--accent-color);
    fill: var(--filter-secondary-text-color);
    border-color: transparent;
}

.close-icon {}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;

    color: var(--title-color);
}

.modal-form {}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-last {
    margin-bottom: 16px;
}

.checkbox-field {
    margin-bottom: 24px;
}

.input-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--common-modal-text);
    display: block;

    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color var(--common-time-func);
}

.modal-input:focus {
    border-color: var(--icon-common-color);
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--common-time-func);
}

.modal-input:focus+.modal-icon {
    fill: var(--icon-common-color);
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17px;

    letter-spacing: 0.04em;

    color: var(--common-modal-text);

    position: relative;
    padding-left: 24px;
}

.checkbox-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: fill var(--common-time-func), background-color var(--common-time-func), border-color var(--common-time-func);

    position: absolute;
    left: 0;
}

.modal-chexbox:checked+.checkbox-label span {
    background-color: var(--accent-color);
    fill: var(--secondary-text-color);
}

.modal-chexbox:focus+.checkbox-label span {
    border-color: var(--accent-color);
}

.checkbox-icon {}

.comment-input {
    padding-top: 8px;
    padding-left: 16px;
    width: 100%;
    height: 120px;

    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    transition: border-color var(--common-time-func);

}

.comment-input:focus {
    border-color: var(--icon-common-color);
}

.priv-policy-link {
    color: var(--accent-color);

    margin-left: 3px;
}




/** <============= HEADER SECTION ============> */
.logo-header {
    height: 24px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-main-color);
    margin-bottom: 24px;
    margin-top: 24px;
}


.logo-header-b {
    color: var(--logo-footercolor-b);
}

.pc-nav {
    display: none;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--nav-color);
    position: relative;

    transition: color var(--common-time-func);
}



.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);

}

.current {
    color: var(--accent-color);
}

.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    margin-top: 20px;
}

.contacts-link {
    color: var(--common-text-color);
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 1.5;

    transition: color var(--common-time-func);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.header {
    border-bottom: 1px solid #E7E9FC;

    background-color: var(--common-background-color);
}

.header-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}




.nav-list {
    display: flex;
    flex-direction: row;
    margin-left: 76px;
}

.nav-item:first-child {
    margin-left: 0px;
}

.nav-item:last-child {
    margin-right: 0px;
}

.nav-item {

    margin-left: 40px;
}

.adress-list {
    display: none;
}

.menu-open-btn {

    /* width: 32px;
    height: 22px; */

    position: absolute;
    right: 24px;
    top: 24px;
    background-color: transparent;

}

.menu-icon {
    stroke: var(--nav-color);
}


.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 40px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--common-background-color);
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    transition: opacity var(--common-time-func),
        visibility var(--common-time-func);
}

/*  */
.close-mob-menu-btn {
    position: absolute;
    right: 24px;
    top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;



    transition: background-color var(--common-time-func), fill var(--common-time-func), border-color var(--common-time-func);

}


.close-mob-menu-btn:hover,
.close-mob-menu-btn:focus {
    background-color: var(--accent-color);
    fill: var(--filter-secondary-text-color);
    border-color: transparent;
}

/*  */
.mob-menu-nav {}

.mob-menu-list {}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color var(--common-time-func);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: var(--accent-color);
}

.mob-link-current {
    color: var(--accent-color);
}

.adress-mob {
    margin-bottom: 48px;
}

.adress-mob-list {
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.adress-mob-list-item {}

.contacts-mob-link {}

.telephone-mob-link {
    height: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    color: var(--filter-common-text-color);
}

.email-mob-link {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
}

.mob-soc-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    max-width: 353px;
    margin: 0 auto;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--icon-common-color);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--common-time-func);
}

.mob-soc-link:hover,
.mob-soc-link:focus {
    background-color: var(--icon-accent-color);
}

.mob-soc-icon {
    fill: var(--secondary-text-color);
}


/** <======= FOOTER SECTION =======> */
.footer {
    background-color: var(--footer-background-color);
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-description {
    width: 284px;
    color: var(--secondary-text-color);
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 16px;

}

.footer-container {
    /* text-align: center; */
}

.footer-wrp1 {
    margin-bottom: 72px;
}

.footer-wrp2 {
    /* margin-left: 120px; */
    margin-bottom: 72px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.social-item {
    width: 40px;
    height: 40px;

}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--icon-common-color);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--common-time-func);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--icon-accent-color);
}


.social-icon {
    fill: var(--hero-text-color);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-main-color);

}

.logo-footer-b {
    color: var(--secondary-text-color);
}

.footer>p {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-subscribe {

    margin-left: auto;
}

.subscribe-form {

    margin-top: 16px;
}

.subscribe-field {}

.subscribe-wrap {}

.subscribe-input {
    width: 100%;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    outline: transparent;
    color: var(--hero-text-color);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border-color var(--common-time-func);
    margin-bottom: 16px;
}

.subscribe-input::placeholder {
    color: var(--hero-text-color);

}

.subscribe-input:focus {
    border-color: var(--icon-common-color);
}

.subscribe-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: var(--filter-secondary-text-color);
    margin-left: 16px;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 40px;
    margin: 0 auto;
    background-color: var(--icon-common-color);
    color: var(--filter-secondary-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    transition: background-color 250ms;
}

.subscribe-btn:focus {
    background-color: var(--accent-color);
}

/** <======== HERO SECTION ======> */
.hero {
    max-width: 428px;
    height: 432px;

    padding: 112px 0;
    margin: 0 auto;

    background-color: var(--hero-background-color);
    background-image: radial-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: radial-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile-2x.jpg);
    }
}

.hero-container {}

.hero-title {
    color: var(--hero-text-color);
    margin: 0 auto;
}

.button {
    min-width: 169px;
    min-height: 56px;
    color: var(--hero-text-color);
    background-color: var(--filter-common-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;

    transition: background-color 250ms;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
}

/** <======= FEATURES SECTION =======> */
.features {}

.features-container {}

.features-title {}

.features-list {
    display: flex;
    flex-flow: column;
    gap: 72px;
}

.features-list-item {
    width: calc(100vw-36px);

}


.features-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
    text-align: center;
}

.features-description {
    font-weight: 500;
    line-height: 1.5;
    max-width: 396px;
    margin: 0 auto;
}

.features-wrap {
    display: none;

}

/** <======= ABOUT US SECTION =======> */
.about-us {
    display: none;
}

/** <======= OUR TEAM SECTION =======> */
.our-team {

    background-color: var(--secondary-background-color);
}

.our-team-container {
    text-align: center;
}

.our-team-title {
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 72px;
    gap: 72px 24px;
}

.our-team-item {
    width: 264px;
    height: 428px;
    background: var(--common-background-color);
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}



.our-team-item-wrapper {
    padding: 32px 16px 32px 16px;
}


.our-team-img {}

.our-team-item-title {}

.our-team-item-description {
    margin-bottom: 8px;
}

.our-team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team-soc-item {
    width: 40px;
    height: 40px;
}

.our-team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--icon-common-color);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--common-time-func);
}

.our-team-soc-link:hover,
.our-team-soc-link:focus {
    background-color: #404BBF;
}

.our-team-soc-icon {
    fill: var(--hero-text-color);
}

/** <======= CUSTOMERS SECTION =======> */
.customers {}

.customers-container {
    text-align: center;
}

.customers-title {}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    margin-top: 72px;
    justify-content: center;
}

.customers-item {
    width: 190px;
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #8E8F99;

    transition: color var(--common-time-func);
}

.customers-link:hover,
.customers-link:focus {
    color: var(--accent-color);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}


/** <======= PORTFOLIO PAGE =======> */

.filter-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-item {}

.filter-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--filter-common-text-color);
    background-color: var(--filter-common-background);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    transition: background-color var(--common-time-func), color var(--common-time-func),
        box-shadow var(--common-time-func), border-color var(--common-time-func);
}



.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--filter-secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}


.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 48px 24px;
}

.portfolio-item {
    width: 360px;
}

.portfolio-cover {
    position: relative;
    overflow: hidden;
}

.cover-description {
    display: block;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    color: var(--secondary-text-color);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--icon-common-color);

    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: transform var(--common-time-func);
}

.portfolio-link:hover .cover-description,
.portfolio-link:focus .cover-description {
    transform: translateY(-100%);
}

.portfolio-img {}

.portfolio-link {
    display: block;

    transition: box-shadow var(--common-time-func);
}



.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-wrapper {
    padding: 32px 0 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: 0;

}



.portfolio-title {}

.portfolio-description {}


@media screen and (min-width: 428px) {}